<div class="row">
    <!-- Panel de gauche -->
    <div class="col-md-2 panel-gauche">
        <app-liste-cours [listeCours]="listeCours" (promo)="getPromo($event)" (semestre)="getSemestre($event)" (cours)="getCours($event)"></app-liste-cours>
    </div>

    <!-- Panel de droite -->
    <div class="col-md panel-droit">
        <div class="row panel-haut">
            <div class="col-md-5 link"><h4>{{link}} COUCOU</h4></div>
            <div class="col-md-6 import">
                <button type="button" class="btn btn-default btn-lg" (click)="openImportDocumentModal()">
                    <i class="bi bi-file-earmark-plus-fill"></i> 
                    Importer 
                </button>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-2 document" *ngFor="let document of documents">
                <span class="badge badge-promo">{{document.etiquettePromo}}</span>
                <span class="badge badge-semestre">{{document.semestre}}</span>
                <span class="badge badge-cours">{{document.etiquetteCours}}</span>
                <br/> <h4>{{document.nom}}</h4>
                <br/> Date création : {{document.dateCreation}}
                <br/> Date modification : {{document.dateModification}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="importDocumentModal">
    <div class="modal-dialog">
        <app-modal-import [listeCours]="listeCours"></app-modal-import>
    </div>
</div>