<div class="row">
    <!-- Panel de gauche -->
    <div class="col-md-2 panel-gauche">
        <app-liste-cours></app-liste-cours>
    </div>

    <!-- Panel de droite -->
    <div class="col-md panel-droit">
        <button type="button" class="btn btn-default btn-lg"><i class="bi bi-file-earmark-plus-fill"></i> Importer </button>
        <div class="row">
            <div class="col-md-2 document" *ngFor="let document of documents">
                <span class="badge badge-promo">{{document.etiquettePromo}}</span>
                <span class="badge badge-semestre">{{document.semestre}}</span>
                <span class="badge badge-cours">{{document.etiquetteCours}}</span>
                <br/> <h4>{{document.nom}}</h4>
                <br/> Date création : {{document.dateCreation}}
                <br/> Date modification : {{document.dateModification}}
            </div>
        </div>
    </div>
</div>