.panel-gauche {
    background-color: #F5F5F5;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 15%;
    max-height: 84vh;
}

.panel-droit {
    height: 84vh;
}

.badge {
    margin : 2%;
}

.badge-promo {
    background-color: #9f4ced;
}

.badge-semestre {
    background-color: #4c67ed;
}

.badge-cours {
    background-color: #4CB3ED;
}

.documents {
    margin-top: 1%;
}

.document {
    background-color: #F5F5F5;
    padding: 1%;
    margin: 1%;
}

.link {
    margin-left: 2%;
}

.import {
    position: absolute;
    left: 85%;
}

.panel-haut {
    margin-top: 2%;
    min-height: 8vh;
}

button {
    background-color: #4CB3ED;
}