<header class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 col-md-3">
        <!--<img class="logo" src="" alt "logo">-->
      </div>
      <div class="col-12 col-md-9">
        <nav class="navbar navbar-expand-md justify-content-end">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-circle rounded-circle text-primary"></i><b> MIAGE</b></a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-house"></i> Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-chat-left-text"></i> Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-briefcase-fill"></i> Offres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-pie-chart-fill"></i> Sondages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i> Documents</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  
