<!--mettre le composant header-->


<div class="container">


<div class="row">
    <div class="col-4">
        <!--mettre le composant formulaire-->
        
        <div style="margin-top: 30% ; margin-left: 0px; position: relative;">
            <app-login style="position: absolute; top: 70px; left: 30%; z-index: 1;"> </app-login>
            <img style="position: absolute; top: 0; ; z-index: 0; margin-left: 0%;"width= "600px" height="400px" src="../../../../assets/images/back-formulaire.svg">
        </div>

    </div>
    <!--images-->
    <div class="col-8">
        <div class="d-flex flex-row" style="height: 550px;">
            <div style="margin-top: 20%; margin-right: 0px;" class="col-4">
                <h2 id="titre-1" style="margin-left: 30%;">Les réussites de demain commencent aujourd'hui </h2>
        
                <div style="margin-top: 30%; margin-left: 15%;">
                    <img width= "250px"height="100px"src="../../../../assets/images/livres.png" alt="">
                </div>
                
        
            </div>

            <div class="col-3"> 
                <img id="jeune-homme" width= "600px" height=" 600px"src="../../../../assets/images/jeune-homme.jpg" alt=""> 
            </div>
          </div>
        <div>
            <h1 id="titre-2" style="margin-left: 10%;margin-top: 0px; font-weight: 50px;">
               <b >L'intranet pour les <br> MIAGistes de u-Bordeaux</b> 
            </h1>
        </div>    
    </div>
</div>
</div>

