
<div class="container">
    <div class="col-12">
        <h3></h3>
        <img src="../../../../assets/images/A22.png">

    </div>
   
    <div class="les fonctionnalités" class="d-flex flex-row"class="col-12">
        <div class="element-fonctionnalite">

            <div class="titreFonctionnalite"> <span>Sondage</span></div>
            <a>
            <div class="actu-fonction">
                <div> <span>x</span> <span>nouveaux messages</span></div>
            </div>
        </a>

        </div>
        <div  class="element-fonctionnalite">

            <div class="titreFonctionnalite"> <span>Sondage</span></div>
            <a>
                <div class="actu-fonction"> <span>x</span> <span>nouveaux messages</span></div>
            </a>


        </div>
        <div   class="element-fonctionnalite">
            <div class="titreFonctionnalite"> <span>Sondage</span></div>
            <a>
                
                <div class="actu-fonction"> <span>x</span> <span>nouveaux messages</span></div>
            </a>


        </div>
        <div class="element-fonctionnalite">
            <div class="titreFonctionnalite"> <span>Sondage</span></div>
            <a>
                
                <div class="actu-fonction"> <span>x</span> <span>nouveaux messages</span></div>
            </a>


        </div>
        <div class="col-2"  class="element-fonctionnalite">
            <div class="titreFonctionnalite"> <span>Sondage</span></div>
            <a>
                
                <div class="actu-fonction"> <span>x</span> <span>nouveaux messages</span></div>
            </a>


        </div>
    </div>
</div>

