.titreFonctionnalite{
    background-color: #4CB3ED;
    border-radius: 20px 20px 0 0;
    height: 30%;
    text-align: center;
    padding-top: 10px;
    
    position: relative;
   
    text-align: center;

}
.img-slide{
    width: 100%; 
    height: 300px; 
    object-fit: cover; border-radius: 20px;
}
.lastelement{
    margin-right: 0px !important;
}
.element-fonctionnalite{
    margin-top: 2%;
    display: inline-block;
    height: 150px;
    border-radius: 20px 20px ;
    position: relative;
    padding: 5px;
    width: 18%;
   /* box-shadow: 2px 2px 0px 0px grey;*/
    border-color: #4CB3ED;
    

   /*margin-right: 2%;
   */
}
.actu-fonction{
    background-color: #4CB3ED;
   
    height: 80%;
    border-radius: 0px 0px  20px 20px;
    padding: 5px;
    background-color: rgba(76, 179, 237, 0.15);
    padding-top: 10px;


}
.variable{
    margin-left: 5px;
    margin-right: 5px;
}
.contenu-actu{
    margin-top: 1%;
    margin-left: 10px;

}

.carousel {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .slide {
    flex: 1 0 100%;
    margin-right: 20px;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  
  /* Le slide actif est centré */
  .slide.active {
    transform: translateX(-50%);
  }
  
  /* Les slides avant et après le slide actif sont déplacés de la largeur d'un slide */
  .slide.prev {
    transform: translateX(-150%);
  }
  
  .slide.next {
    transform: translateX(50%);
  }