.titreFonctionnalite{
  background-color: #4CB3ED;
  border-radius: 20px 20px 0 0;
  height: 30%;
  text-align: center;
  padding-top: 10px;
  position: relative;
  box-shadow: 1px 0px 0px 0px grey;
}

.lastelement{
  margin-right: 0px !important;
}

.container{
  margin-bottom: 5%;
}

.element-fonctionnalite{
  margin-top: 7%;
  display: inline-block;
  height: 150px;
  border-radius: 20px 20px ;
  position: relative;
  padding: 5px;
  width: 18%;
  border-color: #4CB3ED;
}

.actu-fonction{
  height: 80%;
  border-radius: 0px 0px  20px 20px;
  padding: 5px;
  background-color: rgba(76, 179, 237, 0.15);
  padding-top: 10px;
  box-shadow: 1px 1px 0px 0px grey;
}

.variable{
  margin-left: 5px;
  margin-right: 5px;
}

.contenu-actu{
  margin-top: 1%;
  margin-left: 10px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  color: white;
  border-radius: 20px;
}

.inte-carousel{
  display: inline-block;
  width: 50%;
  background-color: black;
  height: 300px;
  text-align: center;
}

p{
  text-align: left;
  padding-top: 2%;
  margin-left: 2%;
}

.carousel-item img {
  max-height: 400px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.slide.prev {
  transform: translateX(-150%);
}

.slide.next {
  transform: translateX(50%);
}

.car-ele{
  display: inline-block;
}

.eleme{
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
    