<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align: center; margin-top: 2%; position: relative;">Actualités</h4>
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col" class="inte-carousel">
                                <div>
                                    <p> A l'université de Bordeaux, la formation MIAGE regroupe un parcours préparatoire de niveau L3 (informatique de gestion) et deux mentions de Master : <br><br>

                                        Systèmes d'information des entreprises, ouvert en formation initiale, en alternance (3 mois à l'université, 3 mois en entreprise) et en formation continue,
                                        Système d'information des entreprises - executive (e-miage), ouvert uniquement en M2, en formation continue à distance.
                                    </p>
                                </div>
                            </div>
                            <div class="col" class="inte-carousel">
                                <div ><img src="../../../../assets/images/Bordeaux.jpeg" alt="hellooooooo"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                        <div class="col" class="inte-carousel">
                            <div>
                                <p>
                                    Les MIAGE sont nées d'un besoin exprimé par les entreprises : disposer de collaborateurs sachant répondre aux exigences de la vie des organisations en matière de gestion des informations et de prise de décision.<br><br> Les miagistes possèdent une solide réputation de polyvalence qui explique leur succès auprès des établissements financiers, des sociétés industrielles, entreprises de services du numérique (ESN), éditeurs de progiciels de gestion, grandes administrations, ou PME. 95 % des miagistes bordelais ont un CDI de niveau cadre six mois après l'obtention de leur diplôme de Master.</p>
                            </div>
                        </div>
                        <div class="col" class="inte-carousel">
                            <div><img src="../../../../assets/images/a22.jpeg" alt="hellooooooo"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col" class="inte-carousel">
                            <div>
                                <p> Les compétences développées par les Miagistes reposent sur 3 axes principaux : <br><br>

                                    Analyser et comprendre le fonctionnement et les besoins des organisations.
                                    <br><br>Proposer des solutions informatiques et assurer leur mise en oeuvre (gestion de bases de données, réseaux, développement d'intranet et internet ...).
                                    <br><br>Mettre en lien des connaissances techniques pour mener à bien des projets.</p>
                            </div>
                        </div>
                        <div class="col" class="inte-carousel">
                            <div><img src="../../../../assets/images/etudiants.jpeg" alt="hellooooooo"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
   
<div class="les fonctionnalités" class="d-flex flex-row"class="col-md-12">
    <div class="row">
     
    <div class="element-fonctionnalite" style="margin-right: 2.5%;">
        <a class="nav-item" routerLink="/messagerie"> 
        <div class="titreFonctionnalite"> <span>Messages</span></div>
            <div class="actu-fonction">
                <div class="contenu-actu"> 
                    <i class="bi bi-bell-fill"></i>
                    <span class="variable">{{ nbMessages }}</span>
                    <span>nouveaux messages</span>
                </div>
            </div>
        </a>
    </div>

    <div class="element-fonctionnalite" style="margin-right: 2.5%;">
        <a class="nav-item" routerLink="/offre">
        <div class="titreFonctionnalite">  
            <span>Offres</span>
        </div>
            <div class="actu-fonction"> 
                <div class="contenu-actu">
                    <i class="bi bi-briefcase-fill"></i>
                    <span class="variable">{{ nbOffres }}</span> 
                    <span>nouvelles offres</span>
                </div>
            </div>
        </a>
    </div>

    <div class="element-fonctionnalite" >
        <a class="nav-item" routerLink="/sondage">
        <div class="titreFonctionnalite"><span>Sondage</span></div>
            <div class="actu-fonction"> 
                <div class="contenu-actu">
                    <i class="bi bi-pie-chart-fill"> </i>
                    <span class="variable">{{ nbSondages }}</span> 
                    <span>nouveaux sondages</span>
                </div>  
            </div>
        </a>
    </div>

    <div class="element-fonctionnalite" style="margin-left: 2.5%;">
        <a class="nav-item" routerLink="/documents">
        <div class="titreFonctionnalite"> <span>Documents</span></div>
            <div class="actu-fonction"> 
                <div class="contenu-actu">
                <i class="bi bi-file-earmark-bar-graph-fill"></i>
                <span class = "variable">{{ nbDocuments }}</span> 
                <span>nouveaux documents</span>
            </div>
            </div>
        </a>
    </div>

    <div class="col-2" class="element-fonctionnalite" style="margin-left: 2.5%;">
        <a class="nav-item" routerLink="/emploiDuTemps">
        <div class="titreFonctionnalite"><span>Emploi du temps</span></div>
            <div class="actu-fonction">
                <div class="contenu-actu">
                    <i class="bi bi-calendar2-week-fill"></i>
                    <span class = "variable">{{ nbCours }}</span> 
                    <span>cours aujourd'hui</span>
                </div>
            </div> 
        </a>
    </div>
</div>