
<div class="container">
    <div class="col-12">
        <h4 style="text-align: center; margin-top: 2px;">Actualités</h4>
        <div class="carousel">
            <div class="slides">
              <div class="slide">
                <img class= "img-slide"src="../../../../assets/images/a22.jpeg">
              </div>
              <div class="slide">
                <img  class= "img-slide"src="../../../../assets/images/a22.jpeg">
              </div>
              <div class="slide">
                <img class= "img-slide"src="../../../../assets/images/a22.jpeg">
              </div>
            </div>
            <button class="prev-btn">Précédent</button>
            <button class="next-btn">Suivant</button>
        </div>
    </div>
   
    <div class="les fonctionnalités" class="d-flex flex-row"class="col-12">
        <div class="element-fonctionnalite" style="margin-right: 2.5%;">
            <div class="titreFonctionnalite"> <span>Messages</span></div>
            <a>  
                <div class="actu-fonction">
                    <div class="contenu-actu"> 
                        <i class="bi bi-bell-fill"></i>
                        <span class = "variable" >x</span>
                        <span>nouveaux messages</span>
                    </div>
                </div>
            </a>
        </div>

        <div  class="element-fonctionnalite" style="margin-right: 2.5%;">
            <div class="titreFonctionnalite">  
                <span>Offres</span>
            </div>
            <a>
                <div class="actu-fonction"> 
                    <div class="contenu-actu">
                        <i class="bi bi-briefcase-fill"></i>
                        <span class = "variable">x</span> 
                        <span>nouvelles offres</span>
                    </div>
                </div>
            </a>
        </div>

        <div   class="element-fonctionnalite" >
            <div class="titreFonctionnalite"> <span>Sondage</span></div>
            <a>
                
                <div class="actu-fonction"> 
                    <div class="contenu-actu">
                        <i class="bi bi-pie-chart-fill"> </i>
                        <span class = "variable">x</span> 
                        <span>nouveaux sondages</span>
                    </div>  
                </div>
            </a>
        </div>

        <div class="element-fonctionnalite" style="margin-left: 2.5%;">
            <div class="titreFonctionnalite"> <span>Documents</span></div>
            <a>
                <div class="actu-fonction"> 
                    <div class="contenu-actu">
                    <i class="bi bi-file-earmark-bar-graph-fill"></i>
                    <span class = "variable">x</span> 
                    <span >nouveaux documents</span>
                </div>
                </div>
            </a>
        </div>

        <div class="col-2"  class="element-fonctionnalite"  style="margin-left: 2.5%;">
            <div class="titreFonctionnalite"> <span>Emploi du temps </span></div>
            <a>
                <div class="actu-fonction">
                    <div class="contenu-actu">
                        <i class="bi bi-calendar2-week-fill"></i>
                        <span class = "variable">x</span> 
                        <span>Cours d'aujourd'hui</span>
                    </div>
                </div> 
            </a>
        </div>
    </div>
</div>

