<div class="container">
  <ul class="nav">
    <li class="nav-item"> 
      <button class="btn btn-link" (click)="onClick('', '', '')">Tous les documents</button>
    </li>
    <li class="nav-item" *ngFor="let promo of listeCours">
      <button class="btn btn-link" (click)="onClick('', '', promo.title)">{{promo.title}}</button>
      <ul>
        <li class="nav-item" *ngFor="let semestre of promo.semestres">
          <button class="btn btn-link" (click)="onClick('', semestre.title, promo.title)">{{semestre.title}}</button>
          <ul>
            <li class="nav-item" *ngFor="let cours of semestre.cours">
              <button class="btn btn-link" (click)="onClick(cours, semestre.title, promo.title)">{{cours}}</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
