input, select {
 border-radius: 50px;
 margin-bottom: 2%;
}

#btnValider {
    background-color: #4CB3ED;
    margin-left: 0%;
    border-radius: 20px 20px 20px 20px ;
    border-color: #4CB3ED;
    height: 50px;
} 

.modal-content{
border-radius: 20px;
}