<!-- <div *ngFor="let calendarEvent of calendarEvents.content | keyvalue">
    <div *ngFor="let event of calendarEvent.value | keyvalue">
      <p>{{ event.key }}: {{ event.value }}</p>
    </div>
  </div>
   -->
  

  <div 
  class ="calendrier " #calendar>
  
  </div>
  
  <div >
    <button class ='mail'>
    <a href="mailto: uf-info.sp-miage@u-bordeaux.fr" style="color: black ; text-decoration: none; " >Contacter le secrétariat </a>
  </button>
  </div>


<!-- <div *ngIf="calendarEvents.content && calendarEvents.content.length > 0">
  <div *ngFor="let event of calendarEvents.content">
    <p>{{ event['summary'] }}</p>
  </div>
</div> -->






