<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <select [(ngModel)]="selectedValue" (change)="onSelectChange()" class="btn btn-primary">
        <option value="" disabled selected>Filtrer</option>
        <option value="M2_miage_TD1.ics">Groupe TD1</option>
        <option value="M2_miage_TD2.ics">Groupe TD2</option>
        <option value="M2_calendar_events.ics">Général</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="calendrier" #calendar></div>
    </div>
  </div>
</div>

<div>
  <button class ='mail'>
    <a href="mailto: uf-info.sp-miage@u-bordeaux.fr" style="color: black ; text-decoration: none; " >Contacter le secrétariat </a>
  </button>
</div>