<footer style="background-color: #b1dcf6; margin-bottom: 0px; height: 100px; padding: 10px;" class="col-12">

    <div class="row" class="d-flex flex-row" >
        <div class="col-3">
            <img  height= "48px" width= "50%"src="../../../../assets/images/logo-miage.png">
        </div>
        <div class="col-6" style="text-align: center;">
            <p>
                351 Cr de la Libération, <br>33400 Talence
            </p>

        </div>
        <div class="col-3" style=" margin-left: 20px;"> 
            <button  style="background-color:  #4CB3ED; border-radius: 20px; width: 125px; border-color: #4CB3ED; box-shadow: 2px 2px 0px 0px grey;">Contacter</button>

            <br>
            <button style="background-color:  #4CB3ED; border-radius: 20px ; width: 125px; margin-top: 5px; border-color: #4CB3ED;box-shadow: 2px 2px 0px 0px grey;">Site MIAGE</button>
        </div>
    </div>

</footer>

