.panel{
    height: 0%;
    background-color: #F5F5F5;
    border-radius: 20px 20px 20px 20px;
    position: relative;
}

.panel-heading{
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    box-shadow: 1px black;
}

.panel-title{
    border-radius: 20px 20px 0px 0px;
    background-color: #FFFFFF;
    height: 100%;
}

.panel-body{
    background-color: #F5F5F5;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    background-image: url('../../../../assets/images/imgBackgroundBodyMessage.jpeg'); 
}

.message{
    min-height: 75%;
    max-height: 75%;
    max-width: 100%;
    margin-left: 2%;
    border-radius: 15px 15px 0px 15px;
    word-wrap: break-word;
}
.message-autre{
    background-color: #41D3F3;
    border-radius: 15px 15px 15px 0px;
    word-wrap: break-word;
    max-width: 48%;
    width: fit-content;
    padding: 5px;
    margin-left: 1%;
    margin-top: 2px;
}

.message-moi{
    background-color: #85A4F5;
    border-radius: 15px 15px 0px 15px;
    word-wrap: break-word;
    max-width: 48%;
    width: fit-content;
    padding: 5px;
    float: right;
    position: relative;
    margin-right: 1%;
    margin-top: 2px;
}

.message-moi-p {
    background-color: #85A4F5 !important;
    border-radius: 15px 15px 0px 15px !important;
    word-wrap: break-word !important;
    max-width: 48% !important;
    width: fit-content !important;
    padding: 5px !important;
    float: right !important;
    position: relative !important;
    margin-right: 1% !important;
    margin-top: 2px;
} 

.message-autre-p {
    background-color: #41D3F3 !important;
    border-radius: 15px 15px 15px 0px !important;
    word-wrap: break-word !important;
    max-width: 48% !important;
    width: fit-content !important;
    padding: 5px !important;
    margin-left: 1% !important;
    margin-top: 2px;
}

.moi{
    float: right;
    position: relative;
    margin-right: 1.2%;
    margin-bottom: 0;
}

.autre{
    text-align: center;
}

#zoneSaisie{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: white;
}

#messageInput {
    margin-left: 4%;
    margin-bottom: 0;
    height: 50px;
    position: relative;
}

#messageInput:focus {
    overflow-y: auto;
}

input {
    min-height: 20px;
    max-height: 120px;
    overflow-y: auto;
    max-width: 100%;
    caret-color: #41D3F3;
}

.bodyMessages{
   overflow:auto; 
   max-height: 70vh;
   min-height: 70vh;
   position: relative;
   overflow-x: hidden;
}

.formSend{
    position: static;
    bottom: 0;
    width: 100%;
}

::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #4CB3ED;
    border-radius: 10px;
    width: 5px;
}

.scroll-arrow{
    position: relative;
    animation: moveUpDown 2s ease-in-out infinite;
    margin-left: 40%;
}

@keyframes moveUpDown {
    0% {
        top: -50px;
    }

    50% {
        top: 0px;
    }

    100% {
        top: 0;
    }
}