<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center w-100" id="exampleModalLabel">Importer un fichier</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
    </div>
    <form class="row" [formGroup]="importDocumentForm" (submit)="importDocument()">
        <div class="modal-body row">
            <div class="col-md-4">
                <div class="form-floating">
                    <select id="promo" class="form-select" formControlName="promo" [ngClass]="importDocumentForm.get('promo')!.errors ? 'is-invalid' : ''" (change)="onPromoSelected($event.target)">
                        <option value="" disabled selected> --- </option>
                        <option *ngFor="let promo of listeCours" value="{{promo.title}}">{{promo.title}}</option>
                    </select>
                    <label for="promo">Promo</label>
                </div>
            </div>
            <div class="col-md-4" *ngIf="isPromoChoose">
                <div class="form-floating">
                    <select id="semestre" class="form-select" formControlName="semestre" [ngClass]="importDocumentForm.get('semestre')!.errors ? 'is-invalid' : ''" (change)="onSemestreSelected($event.target)">
                        <option value="" disabled selected> --- </option>
                        <option *ngFor="let semestre of listeSemestres" value="{{semestre.title}}">{{semestre.title}}</option>
                    </select>
                    <label for="semestre">Semestre</label>
                </div>
            </div>
            <div class="col-md-4" *ngIf="isSemestreChoose">
                <div class="form-floating">
                    <select id="cours" class="form-select" formControlName="cours" [ngClass]="importDocumentForm.get('cours')!.errors ? 'is-invalid' : ''">
                        <option value="" disabled selected> --- </option>
                        <option *ngFor="let cours of listeNomCours" value="{{cours}}">{{cours}}</option>
                    </select>
                    <label for="cours">Cours</label>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" id="name" class="form-control" placeholder=" " formControlName="name" [ngClass]="importDocumentForm.get('name')!.errors ? 'is-invalid' : ''"/>
                  <label for="name">Nom du fichier</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                  <input type="file" id="file" class="form-control" formControlName="file" [ngClass]="importDocumentForm.get('file')!.errors ? 'is-invalid' : ''"/>
                </div>
            </div>
        </div> 
    </form>
    <div class="modal-footer d-flex justify-content-center">
        <button type="submit" id="btnValider" class="btn btn-dark w-100" data-bs-dismiss="modal" [disabled]="!importDocumentForm.valid" (click)="importDocument()">Valider</button>
    </div>
</div>  