<div class="form-container">
    <form class="row g-12" [formGroup]="loginForm">
      <div class="position-relative col-12">
        <input type="text" id="email" placeholder="email ENT" class="form-control" formControlName="email" [ngClass]="loginForm.get('email')!.errors ? 'is-invalid' : 'is-valid'"/>
        <input type="password" id="motdePasse"placeholder="mot de passe" class="form-control" formControlName="motdePasse" [ngClass]="loginForm.get('motdePasse')!.errors ? 'is-invalid' : 'is-valid'"/>
        <!-- <div class="invalid-tooltip top-0 end-0">
          {{loginForm.get('email')?.errors?.['required'] ? "Il faut renseigner une adresse email": ""}}
        </div> -->
      </div>
    </form>
</div>
       
<div class="formFooter">
  <button type="button" class="btn btn-dark" id= "btnSeconnecter" [disabled]="!loginForm.valid" (click)="login()">Se connecter</button>
  <button type="button" class="btn btn-dark" id= "btnInscription" (click)="createUser()">S'inscrire</button>
</div>

<div class="modal fade" id="createUserModal">
  <div class="modal-dialog">
    <app-create-user></app-create-user>
  </div>
</div>