<div class="info">
    <div>
        <img src="intranet_project_frontend\src\assets\fb-icon.png">
    </div>
    <div>
        <h3>{{nomConversation}}</h3>
    </div>
    <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default btn-lg">   <span class="glyphicon glyphicon-star"></span> Fichiers partagés </button>
        <button type="button" class="btn btn-default btn-lg">   <span class="glyphicon glyphicon-star"></span> Médias partagés</button>
    </div>
</div>
