<div class="row">
    <div class="col">
        <div class="nav flex-column nav-pills outils" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active chat-left-dots-fill" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">
                <span class="badge">14</span>
                Discussions
            </a>
            <a class="nav-link archive-fill" id="v-pills-profile-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false">Archivés</a>
            <a class="nav-link exclamation-octagon-fill" id="v-pills-messages-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false">Spam</a>
        </div>
    </div>
    <div class="col">
        <div class="nav flex-column nav-pills liste-personne" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active chat-left-dots-fill" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">Nom de la première personne</a>
            <p> forEach à faire ici avec le nombre de discussions par utilisateur</p>
        </div>    
    </div>
</div>