.row{
    height: 80%;  
}

.outils{
    background-color: #F5F5F5;
    height: 70%;
}

.liste-personne{
    background-color: #FFFFFF;
    height: 60%;
    overflow: auto;
}

ul {
    list-style-type: none;
}

.userList{
    margin-top: 15%;    
}

.listUser{
    border: 1px solid white;
    word-wrap: break-word;
    width: 90%;
    box-shadow: 1px 1px 1px 1px wheat;
    border-radius: 10px;
    padding-left: 5px;
    background-color: rgb(76, 179, 237, 0.5)     
}

.listUserSelect {
    border: 1px solid white;
    border-radius: 20px;
    word-wrap: break-word;
    width: 90%;
    box-shadow: 1px 1px 1px 1px black;
    background-color: #41D3F3; 
    border-color: #4CB3ED;
    font-size: 16px;
    height: 10%;
    padding-top: 5px;
}

::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #4CB3ED;
    border-radius: 10px;
    width: 5px;
}