.row{
    height: 80%;
}

.outils{
    background-color: #F5F5F5;
    height: 70%;
}

.liste-personne{
    background-color: #FFFFFF;
    height: 70%;
}
ul {
    list-style-type: none;
}
.userList{
    margin-top: 15%;
}