<!--mettre le composant header-->



<div class="row">
    <div class="col-5">
        <!--mettre le composant formulaire-->

    </div>
    <!--images-->
    <div class="col-7">
        <div> 
            <h2>Les réussites de demain commencent aujourd'hui</h2>
        </div>
        <div>
            <img src="../../../../assets/images/jeune-homme.jpg" alt=""> 
        </div>
        <div>
            <h1>
                L'intranet pour les miagistes de u-Bordeaux
            </h1>
        </div>    
    </div>
</div>

<!--mettre le composant footer-->