
<app-header></app-header>
<!--if  connect-->

 <!-- <app-home-connect></app-home-connect>-->
<!--else-->
<app-body-of-home></app-body-of-home>

<button type="button" class="btn btn-primary" (click)="createUser()">Inscription</button>
<button type="button" class="btn btn-primary" (click)="login()">Connexion</button>

<div class="modal fade" id="createUserModal">
    <div class="modal-dialog">
      <app-create-user></app-create-user>>
    </div>
</div>

 <!--endif-->
<app-footer></app-footer>
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
      <app-login></app-login>>
    </div>
</div>