<header class="container-fluid">
    <div class="row">
      <div class="col-4 col-md-3" style="margin-top: 0; height: 20px;">
        <div class="logo">
          <img  style="margin-bottom: 10px;" src="../../../assets/images/pointMiage.svg">
        </div>
        <div class="logo">
          <a class="nav-link" href="https://miage.emi.u-bordeaux.fr/">
            <h3 style="font-weight:30px;margin-top: 7px;"> MIAGE</h3>
          </a>
        </div>
      </div>
    </div>
  </header>

<div class="container">
    <div class="row">
        <div class="col-4">            
            <div class="div-login">
                <app-login class="login"></app-login>
                
                <img class="img-login" width= "600px" height=" 400px" src="../../../../assets/images/back-formulaire.svg">
            </div>
        </div>

        <!--images-->
        <div class="col-8">
            <div class="d-flex flex-row" style="height: 550px;">
                <div class="div-reussite" class="col-4">
                    <h2 class="reussite">Les réussites de demain commencent aujourd'hui.</h2>
                    <div class="img-reussite">
                        <img width="250px" height="100px" src="../../../../assets/images/livres.png">
                    </div>
                </div>

                <div class="col-3"> 
                    <img width="600px" height="600px" src="../../../../assets/images/jeune-homme.jpg"> 
                </div>
            </div>
            <div>
                <h1 class="intranet">
                    <b>L'intranet pour les <br> Miagistes de u-Bordeaux</b> 
                </h1>
            </div>    
        </div>
    </div>
</div>

<div class="modal fade" id="createUserModal">
  <div class="modal-dialog">
    <app-create-user></app-create-user>
  </div>
</div>
