<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-4">            
            <div class="div-login">
                <app-login class="login"></app-login>
                <img class="img-login" width= "600px" height=" 400px" src="../../../../assets/images/back-formulaire.svg" alt="">
            </div>
        </div>

        <!--images-->
        <div class="col-8">
            <div class="d-flex flex-row" style="height: 550px;  ">
                <div class="div-reussite" class="col-4" style="margin-top: 10%;">
                    <h2 class="reussite">Les réussites de demain commencent aujourd'hui.</h2>
                    <div class="img-reussite">
                        <img width="250px" height="100px"  style="margin-top: 18%;"src="../../../../assets/images/livres.png" alt="">
                    </div>                 
                </div>
                <div class="col-3" style="margin-bottom: 5%;"> 
                    <img width="600px" height="600px" src="../../../../assets/images/jeune-homme.jpg" alt=""> 
                </div>
            </div>  
        </div>
    </div>
    <h1 class="intranet">
      <b>L'intranet pour les Miagistes de Bordeaux</b>
    </h1>
</div>

<div class="modal fade" id="createUserModal">
  <div class="modal-dialog">
    <app-create-user></app-create-user>
  </div>
</div>